<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm).get('addressForm').valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="(checkoutForm).get('deliveryForm').valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review [appSteppper]="appStepper"></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Date Time'">
                    <app-checkout-datetime [checkoutForm]="checkoutForm" (shippingDate)="getSelectedDate($event)"></app-checkout-datetime>
                </cdk-step>
                <cdk-step [label]="'Options'">
                    <app-payment-options (choice)="paymentChoice($event)"></app-payment-options>
                </cdk-step>
                <cdk-step [label]="'Payment'">
                    <app-checkout-payment *ngIf="choice" [checkoutForm]="checkoutForm"></app-checkout-payment>
                    <app-checkout-payment-payroll *ngIf="!choice" [checkoutForm]="checkoutForm" [total]="total" [selectedDate]="selectedDate"></app-checkout-payment-payroll>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>