<div class="container mt-3">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="types && restaurants">
                <h5 class="ml-3 mt-4 mb-4" style="color: #0098a5;">Sort</h5>
                <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOption" [value]="sort.value">
                        {{sort.name}}
                    </option>
                </select>

                <h5 class="ml-3" style="color: #0098a5;">Restaurants</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let restaurant of restaurants"
                        [class.active]="restaurant.id === this.shopParams.restaurantId" [value]="restaurant.id"
                        (click)="onRestaurantSelected(restaurant.id)">
                        {{restaurant.name}}
                    </li>
                </ul>
                <h5 class="ml-3" style="color: #0098a5;">Meal Type</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let type of types"
                        [class.active]="type.id === this.shopParams.typeId" [value]="type.id"
                        (click)="onTypeSelected(type.id)">
                        {{type.name}}
                    </li>
                </ul>
            </ng-container>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">

                <app-paging-header [totalCount]="totalCount" [pageSize]="this.shopParams.pageSize"
                    [pageNumber]="this.shopParams.pageNumber">
                </app-paging-header>

                <div class="form-inline" *ngIf="meals">
                    <input type="text" class="form-control mr-2" #search style="width:300px" placeholder="Search"
                        type="text">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let item of meals">
                    <app-meal-item [meal]="item"></app-meal-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="meals">
                <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)">
                </app-pager>
            </div>
        </section>
    </div>
</div>