<div class="container mt-5">
    <h4>Your current Payroll Total is: {{total | currency}}</h4>
    <p>Click Submit to create new order charged on your payroll</p>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row my-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Review
    </button>
    <button (click)="submitOrder()" class="btn btn-primary">
        Submit Order <i class="fa fa-angle-right"></i>
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>
</div>
